[Unit]
Description=Secure Endpoint Detection, Response & Defense Agent
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/server-edr/agent
ExecStart=/usr/bin/python3 -u /opt/server-edr/agent/agent_core.py --config /etc/sas-edr/agent_config.json
Restart=always
RestartSec=5s

# Security and Isolation
ProtectSystem=full
ProtectHome=read-only
PrivateTmp=true

# Resource Limits
CPUQuota=30%
MemoryMax=512M
TasksMax=100

EnvironmentFile=-/etc/sas-edr/server-edr.env
EnvironmentFile=-/etc/sas-edr/agent.env
EnvironmentFile=-/etc/server-edr/server-edr.env
EnvironmentFile=-/etc/server-edr/agent.env
KillMode=mixed
TimeoutStopSec=10s

[Install]
WantedBy=multi-user.target
